
.App{
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 9vh 80vh 9vh;
    grid-row-gap: 1vh;
    align-items: stretch;
    justify-content: stretch;
}
.header{
  background-color: #61dafb;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 10% auto;
}
.content-about-me{
    grid-row-start: 2;
    grid-column-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 1.6;
}
.icon-lang{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    place-self: center;

}
.nav-bar{
    display: none;
    top: 9vh;
    height: 90vh;
    background-color: antiquewhite;
    width: 100%;
    z-index: 2;

}
.logo{
    cursor: pointer;
}
.burger>img{
    color: gold;
    cursor: pointer;
}
.nav-bar-active{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.nav-link:hover{
    text-decoration-line: underline;
    text-decoration-color: gold;
}
.section{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
}
.select-cat{
    width: 80vw;
    background-color: #61dafb;
    justify-self: center;
    align-self: center;
    margin: 2%;
}
.image-container{
    display: flex;
    overflow-y: hidden;
    align-items: center;
    height: 100%;
}
.img{
    margin: 1%;
    height: 100%;
    width: auto;
}
.img-content{
    margin: 1%;
    height: 100%;
}
.home-banner{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("./img/home3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-msg{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lemonchiffon;
    opacity: 0.8;
    margin: 0;
    line-height: 1.6;
    padding: 4vh 1vh;
}
.player{
    width: 100%;
}
@media screen and (min-width: 961px){

    .App{
        grid-template-rows: 10vh 85vh 5vh;
        grid-template-columns: 25% 50% 25%;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .home-banner{
        background-image: url("./img/home2.png");
        background-repeat: no-repeat;
    }
    .banner-msg{
        bottom: 40%;
        right: 5%;
        width: 30%;

    }
    .toggle-menu{
        display: none;
    }
    .nav-bar{
        display: flex;
        align-items: center;
        height: auto;
    }
    .section{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}